<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/user/<%=user_result.id%>?_method=PATCH" method="post">
        <h1>UPDATE USER</h1>
        <p>ID: <%= user_result.id %></p>
        <input type="text" name="username" id="" placeholder="name" value="<%= user_result.username %>" required>
        <input type="password" name="password" id="" placeholder="password" required>
        <button type="submit">submit</button>
        <a href="/user">Back</a>
    </form>   

        <div class="box">
        <h1><%= title %></h1>
        <a href="/user/<%=user_result.id%>/edit">OK</a>
    </div>


    <script>
        let div=document.querySelector('.box');

        if(<%= display %>){
          div.style.display="flex";
        }
        else{
            div.style.display="none";
        }
    </script>
</body>
</html>